@font-face {
    font-family: sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to left, #7F96E8, #A6DCBF);
    font-family: sans-serif;
}





/* 내용 감싸는 컨태이너 */
.wrapper {
    background-color: white;
    width: 700px;
    height: 650px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* TOKA */
.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t,
.o,
.k,
.a {
    display: inline;
    font-weight: 900;
    font-size: 70px;
    margin-left: 3px;
    margin-left: 3px;
}


.t {
    color: #7F96E8;
    -webkit-text-stroke: 8px #7F96E8;
}

.k {
    color: #A6DCBF;
    -webkit-text-stroke: 8px #A6DCBF;
}

.o,
.a {
    color: #616161;
    -webkit-text-stroke: 8px #616161;
}





/* ID & Password & Email & Name*/
.box {
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

input::placeholder {
    color: lightgrey;
}

#tempId {
    margin-bottom: 0px;
}

.duplicateWrap {
    width: 500px;
    margin: auto;
    text-align: right;
}

#checkId {    
    text-align: left;
    display: inline;
    color: grey;
}

#checkBtn {
    display: inline;
    background: linear-gradient(to left, #7F96E8, #A6DCBF);
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: white;
    border: 0px solid rgb(93, 93, 93);
    border-radius: 5px;
    margin-bottom: 10px;
}



/* SignUp */
.btnWrapper {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#btn:disabled {
    margin: auto;
    background: lightgrey;
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px white;
    border: 0px solid rgb(93, 93, 93);
    border-radius: 5px;
}

#btn:enabled {
    margin: auto;
    background: linear-gradient(to left, #7F96E8, #A6DCBF);
    width: 500px;
    height: 50px;
    font-size: 20px;
    color: white;
    -webkit-text-stroke: 1px white;
    border: 0px solid rgb(93, 93, 93);
    border-radius: 5px;
}





/* Not a member? SignUp */
.LoginBtn {
    margin-top: 30px;
}

.loginBtn > a {
    font-weight: bold;
}