@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to left, #7F96E8, #A6DCBF);
  font-family: 'Pretendard-Regular', sans-serif; /* 수정된 폰트 패밀리 */
}




/* 내용 */
.wrapper {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
}



/* Title & Create button */
.titleWrap {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  margin: 0;
  display: inline-block;
  color: white;
  font-weight: 700;
}

.btnWrapper {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

#btn {
  margin: auto;
  background: linear-gradient(to left, #7F96E8, #A6DCBF);
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border: 0px solid rgb(93, 93, 93);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}




/* 단어 출력부분 */
.scrollable {
  width: 100%; /* 래퍼의 전체 너비 사용 */
  max-width: 100%; /* 필요한 경우 래퍼의 최대 너비와 일치 */
  height: 85%;
  margin: 20px auto; /* 중앙 정렬 */
  overflow-y: auto; /* 필요에 따라 세로 스크롤바 표시 */
  background: #ffffff00; /* 배경색 */
  border-radius: 8px; /* 둥근 모서리 */
  padding: 0px; /* 패딩 설정 */
  display: flex; /* 플렉스박스 레이아웃 사용 */
  flex-direction: column; /* 항목을 세로로 쌓기 */
  gap: 10px; /* 항목 사이의 간격 */
}

/* 수직 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ACBAED;/* 스크롤바 색상 */
  border-radius: 6px; /* 둥근 경계 반지름 설정 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A6DCBF;/* 마우스 호버 시 스크롤바 색상 변경 */
}

.list {
  width: 100%; /* 스크롤 가능 영역의 전체 너비 사용 */
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding: 0; /* 기본 패딩 제거 */
  display: flex; /* 플렉스박스 레이아웃 사용 */
  flex-wrap: wrap; /* 내용이 넘칠 때 다음 줄로 감싸기 */
  justify-content: space-between; /* 항목 사이에 공간 배분 */
  gap: 10px; /* 항목 사이의 간격 */
}

.list li {
  width: calc(50% - 50px); /* 2열을 만들기 위해 너비 조정, 간격 고려 */
  background-color: #ffffff; /* 카드 배경색 */
  padding: 15px; /* 내부 여백 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 입체감을 주는 그림자 */
  border-radius: 5px; /* 둥근 모서리 */
  display: flex; /* 내부 레이아웃을 위한 플렉스박스 사용 */
  align-items: center; /* 항목을 세로로 중앙 정렬 */
  justify-content: space-between; /* 내부 내용 사이에 공간 배분 */
  font-family: 'Pretendard-Regular', sans-serif; /* 폰트 패밀리 설정 */
  border-left: solid 10px #7F96E8;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.list li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-group-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.list-group-item.show {
  opacity: 1;
  transform: translateY(0);
}

.list-group-item:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.word {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}  

.left-side {
  display: flex;
  align-items: center;
}

.number {
  background-color:  #7F96E8; /* Blue background for ID */
  color: #ffffff; /* White text color */
  padding: 2px 8px; /* Padding around ID */
  border-radius: 4px; /* Rounded corners for ID badge */
  font-weight: bold; /* Bold font weight for ID */
}

.english-word {
  font-weight: bold; /* 영어 단어는 굵게 표시 */
  margin-right: 10px; /* 영어 단어와 품사 사이에 여백을 줌 */
  padding-left: 20px;
  font-size: 25px;
}

.word-translations {
  font-weight: bold; /* 영어 단어는 굵게 표시 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-right: 10px;
}

.part-of-speech {
  font-weight: bold; /* 영어 단어는 굵게 표시 */
  margin-right: 20px; /* 품사와 한국어 단어 사이에 여백을 줌 */
  font-size: 20px;
  color: grey;
}

.korean-word {
  font-size: 25px;
  color: #555; /* 한국어 단어는 조금 더 진한 색으로 표시 */
  text-align: right;
}