@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to left, #7F96E8, #A6DCBF);
    font-family: 'Pretendard-Regular', sans-serif; /* 수정된 폰트 패밀리 */
}

/* Menu */
.subWrapper {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: large;
}

.subTitle {
    font-size: 20px;
    color: #fff;
    -webkit-text-stroke: 1px #fff;
}


/* 내용 */
.category-list {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding-left: 0; /* 왼쪽 패딩 제거 */
    width: 100%; /* 전체 너비 사용 */
    margin: 0 auto; /* 중앙 정렬 */
}

.category-list li {
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: solid 10px #7F96E8;
    margin: 5px 10px;
  }


.category-button{
    font-size: medium;
}

.category-number {
    background-color:  #7F96E8; /* Blue background for ID */
    color: #ffffff; /* White text color */
    padding: 2px 8px; /* Padding around ID */
    border-radius: 4px; /* Rounded corners for ID badge */
    font-weight: bold; /* Bold font weight for ID */
}

.category-name {
    font-size: 20px;
    font-weight: bold; /* 번호 굵게 */
    flex-grow: 1; /* 남은 공간 채우기 */
    padding-right: 20px;
    text-align: center; /* 텍스트 왼쪽 정렬 */
}

/* 카테고리 리스트를 위한 추가 스타일 */
.scrollable {
    width: 50%; /* 원하는 너비로 조정 */
    height: 600px; /* 높이를 800px 또는 원하는 값으로 변경 */
    margin: 20px auto; /* 중앙 정렬 */
    overflow-y: scroll; /* 세로 스크롤만 표시 */
    background: #ffffff00; /* 배경색 */
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/ /* 그림자 효과 */
    border-radius: 8px; /* 모서리 둥글게 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 15px; /* 안쪽 여백 설정 */
}

.scrollable ul {
    list-style: none; /* 리스트 항목 앞의 점을 제거합니다 */
    padding: 0; /* 왼쪽 패딩을 제거합니다 */
    margin: 0; /* 상하 마진을 제거합니다 */
    display: flex; /* 리스트를 플렉스 아이템으로 만들어 줍니다 */
    flex-direction: column; /* 아이템들을 세로로 나열합니다 */
}

.scrollable li {
    background-color: #fff; /* 배경색을 흰색으로 설정합니다 */
    margin: 10px 0; /* 아이템 간격을 위해 마진을 설정합니다 */
    padding: 10px; /* 내부 여백을 설정합니다 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과를 추가합니다 */
    display: flex; /* 항목 내부에서의 정렬을 위해 플렉스 박스 모델을 사용합니다 */
    justify-content: space-between; /* 내부 요소들을 양쪽으로 띄웁니다 */
    align-items: center; /* 세로 방향 가운데 정렬을 합니다 */
    border-radius: 10px; /* 모서리를 둥글게 처리합니다 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}


.scrollable li div.text {
    flex-grow: 1; /* 텍스트를 가능한 공간에 맞게 확장합니다 */
    text-align: left; /* 텍스트는 왼쪽 정렬합니다 */
}

/* 호버 효과 - 리스트 항목에 마우스를 올렸을 때 그림자 강도를 증가시킵니다 */
.scrollable li:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과를 강화합니다 */
}

/* 스크롤바 스타일 */
.scrollable::-webkit-scrollbar-thumb {
    background: #7F96E8; /* 스크롤바 색상을 변경합니다 */
    border-radius: 10px; /* 스크롤바 모서리를 둥글게 합니다 */
}

.scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바 트랙 색상을 변경합니다 */
    border-radius: 10px; /* 스크롤바 트랙 모서리를 둥글게 합니다 */
}
.category-link {
    color: inherit; /* 상속된 색상 사용 */
    display: block; /* 블록 레벨 요소로 변경 */
}

.back-button-container {
    margin: 10px; /* 버튼 주변에 여백을 추가 */
  
  }
  
  .btn.btn-default {
    font-weight: bold;
    padding: 10px 20px; /* 버튼 패딩을 추가 */
    font-size: 16px; /* 글자 크기 설정 */
    color: #ffffff; /* 글자 색상 설정 */
    background-color: #ffffff00; /* 배경색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리를 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    outline: none; /* 포커스 시 외곽선 제거 */
    float: right; /* 오른쪽 정렬을 위해 float 사용 */
  }
  
  .btn.btn-default:hover {
    background-color: #ffffff00; /* 배경색 설정 */ /* 호버 상태의 배경색 변경 */
    border: none; /* 테두리 제거 */
  }
  